/*
#######
Imports
#######
*/

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400&family=Roboto:wght@100;300;400;700;900&display=swap');

/* 
############################################################################
Creates variables so repeat values can be referenced throughout the css file
############################################################################
*/

:root {
    --dark-blue: #1F2937;
    --gradient3: #5E6671;
    --gradient2: #A7ACB3;
    --button-bg: #3882F6;
    --light-grey: #E5E7EB;
    --dark-grey: #696969;
    --cream-white: #F9FAF8;
    --content-width: 1050px;
  }


/*
###########
Base styles
###########
*/

html, body {
    width: 100%;
  }

body {
    height: 100vh; 
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: var(--dark-grey);
}

h1, h3, h5 {
    color: var(--cream-white);
    font-weight: bolder;
}

h2, h4 {
    color: var(--dark-blue);
    font-weight: bolder;
}

h1 {
    font-size: 48px;    
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;   
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 20px;
}

button {
    background-color: #3882F6;
    color: var(--cream-white);    
}

/* 
################
Main styles
################
*/

.content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/** Top section
*/

header {
    background-color: var(--dark-blue);
}

.header-content {
    margin: auto;
    margin-bottom: 80px;
    padding: 20px 15px;
    max-width: var(--content-width);
    display: flex;
    justify-content: space-between;
}

.links > * {
    padding-left: 20px;
    color: var(--light-grey);
    font-family: 'Overpass', sans-serif;
    font-size: 17px;
}

.top {
    background-color: var(--dark-blue);
    color: var(--light-grey);
}

.top-content {
    margin: auto;
    margin-bottom: 45px;
    padding: 20px 15px;
    padding-bottom: 110px;
    max-width: var(--content-width);    
    display: flex;
    gap: 40px;
}

.top-content *{
    flex-basis: 50%;
}

.top-text {
    padding: 10px 0;
}

.top-text > p {
    margin-top: 8px;
    font-size: 17px;
}

.top-text > button {
    margin-top: 16px;
    padding: 7px 32px;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
}

.top-content img {
    width: 100%;
    max-height: 240px;
    border-radius: 10px;
    object-fit: cover;    
}

/** Info section
*/

.info-content {
    margin: auto;
    margin-bottom: 100px;
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-heading {
    margin-bottom: 40px;
}

.info-images {
    display: flex;
    gap: 12px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 180px;
}

#item1 .box {
    background-color: var(--light-grey);
}

#item2 .box {
    background-color: var(--gradient2);
}

#item3 .box {
    background-color: var(--gradient3);
}

#item4 .box {
    background-color: var(--dark-blue);
}

.item .box {
    margin-bottom:12px;
    width: 160px;
    height: 160px;
    border-radius: 12px;
}

.item p {
    font-size: 17px;
    text-align: center;
}

/** Quote section
*/

.quote-section {
    background-color: var(--light-grey);
}

.quote-content {
    max-width: var(--content-width);
    margin: auto;
    padding: 100px 130px;
}

.quote-section p {
    padding-bottom: 20px;
    color: var(--dark-blue);
    font-size: 36px;
    font-weight: 300;
}

.quote-section h4 {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

/** Signup section
*/

.sign-up {
    margin: 80px auto;
    padding: 60px 100px;
    max-width: var(--content-width);
    background-color: var(--button-bg);
    color: var(--cream-white);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sign-text {
    margin-left: 40px;
}

.sign-text p {
    margin-top: 6px;
    font-size: 16px;
}

.sign-up button {
    padding: 6px 28px;
    height: 100%;
    border-width: 2px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
}

/** Footer section
*/

footer {
    flex: 1;
    padding: 30px;
    background-color: var(--dark-blue);
    color: var(--cream-white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer img {
    width: 28px;
    padding-right: 6px;
}

footer a {
    display: flex;
    align-items: center;
}

footer p {
    font-weight: 700;
}